.app-footer {
  min-height: $footer-height;
  padding: 0 $spacer;
  line-height: $footer-height;
  color: $footer-color;
  background: $footer-bg;
  background-color: #262626;
  border: 0;
  // @include borders($footer-borders);
}
